# spring backend

### Eclipse ###
.classpath
.editorconfig
.factorypath
.gitattributes
.project
.settings/
bin/
target/

### Maven ###
target/
.mvn/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# Outputs
    2 bazel-*
    3 test-project-host-*
    4 dist/
    5 dist-schema/
    6
    7 # IDEs
    8 jsconfig.json
    9
   10 # Intellij IDEA/WebStorm
   11 # https://intellij-support.jetbrains.com/hc/en-us/articles/206544839
.idea/inspectionProfiles/
.idea/**/compiler.xml
.idea/**/encodings.xml
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
.idea/
   21 # Also ignore code styles because .editorconfig is used instead.
.idea/codeStyles/
